<!DOCTYPE html>
<html lang="pt-br">
  <%- include('parts/head'); %>
  <body>
    <%- include('parts/navbar'); %>
    <main class="container">
      <h4 class='title text-center my-3'>Cadastro de Entregador</h4>
      <form method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
          <label for="senha">Senha</label>
          <input type="password" class="form-control" id="senha" name="senha">
        </div>
        <div class="form-group">
          <label for="primeiro_nome">Primeiro nome</label>
          <input class="form-control" type="text" id="primeiro_nome">
        </div>
        <div class="form-group">
          <label for="sobrenome">Sobrenome</label>
          <input class="form-control" type="text" id="sobrenome">
        </div>
        <div class="form-group">
          <label for="cpf">CPF <span class="txt-sm">(Apenas números)</span></label>
          <input class="form-control" type="number" id="cpf" name="cpf">
        </div>
        <div class="form-group">
          <label for="rg">RG <span class="txt-sm">(Apenas números)</span></label>
          <input class="form-control" type="number" id="rg" name="rg">
        </div>
        <div class="form-group">
          <label for="telefone">Telefone <span class="txt-sm">(DDI DDD NUMERO, exemplo: 55 11 912345678)</span></label>
          <input class="form-control" type="text" id="telefone" name="telefone" placeholder="">
        </div>
        <h4>Informações do Veículo:</h4>
        <div class="form-group">
          <label for="placa">Placa:</label>
          <input class="form-control cep" type="text" id="placa" name="placa">
        </div>
        <div class="form-group">
          <label for="modelo">Modelo:</label>
          <input class="form-control cep" type="text" id="modelo" name="modelo">
        </div>
        <div class="form-group">
          <label for="marca">Marca:</label>
          <input class="form-control cep" type="text" id="marca" name="marca">
        </div>
        <h4>Endereço:</h4>
        <div class="form-group">
          <label for="cep">CEP:</label>
          <input class="form-control cep" type="text" id="cep" name="cep">
        </div>
        <div class="form-group">
          <label for="Logradouro">Logradouro:</label>
          <input class="form-control logradouro" type="text" id="Logradouro" name="Logradouro">
        </div>
        <div class="form-group">
          <label for="numero">Numero:</label>
          <input class="form-control numero" type="number" id="Numero" name="Numero">
        </div>
        <div class="form-group">
          <label for="Cidade">Cidade:</label>
          <input class="form-control cidade" type="text" id="Cidade" name="Cidade">
        </div>
        <div class="form-group">
          <label for="Bairro">Bairro:</label>
          <input class="form-control bairro" type="text" id="Bairro" name="Bairro">
        </div>
        <div class="form-group">
          <label for="Pais">País:</label>
          <input class="form-control pais" type="text" id="Pais" name="Pais">
        </div>
        <div class="form-group">
          <label for="Complemento">Complemento:</label>
          <input class="form-control complemento" type="text" id="Complemento" name="Complemento">
        </div>
        <button type="button" onclick="submitForm();" class="btn btn-primary col-12">Finalizar Cadastro</button>
      </form>
    </main>
    <%- include('parts/foot'); %>
    </div>
  </body>
</html>

<script>
  const submitForm = () => {
    let email = document.getElementById('email').value;
    let senha = document.getElementById('senha').value;
    let primeiro_nome = document.getElementById('primeiro_nome').value;
    let sobrenome = document.getElementById('sobrenome').value;
    let cpf = document.getElementById('cpf').value;
    let rg = document.getElementById('rg').value;
    let telefone = document.getElementById('telefone').value;
    let cep = document.getElementById('cep').value;
    let logradouro = document.getElementById('Logradouro').value;
    let numero = parseInt(document.getElementById('Numero').value);
    let cidade = document.getElementById('Cidade').value;
    let bairro = document.getElementById('Bairro').value;
    let pais = document.getElementById('Pais').value;
    let placa = document.getElementById('placa').value;
    let modelo = document.getElementById('modelo').value;
    let marca = document.getElementById('marca').value;

    let newUser = {
      email,
      senha,
      primeiro_nome,
      sobrenome,
      cpf,
      rg,
      telefone,
      cep,
      logradouro,
      numero,
      cidade,
      bairro,
      pais,
      placa,
      modelo,
      marca
    }
    fetch("/cadastro/entregador", {
    method: "post",
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },

    //make sure to serialize your JSON body
    body: JSON.stringify(newUser)
    })
    .then(function(response) {
      if(response.status == 201) {
        window.location.href = "/entregador";
      }
      else{
        alert("erro")
      }
    })
  }
</script>