<!DOCTYPE html>
<html lang="pt-br">
  <%- include('parts/head'); %>
  <body >
    <%- include('parts/navbar'); %>
    <main class="container">
      <div class="row mt-3">
        <div class="cadastro col-lg-6 col-12 my-3">
          <h4>Restaurante <i class="fas fa-utensils"></i></h4>
          <a href="/cadastro/restaurante"class="btn btn-primary text-white btn-fixed-size">Cadastro</a>
          <a href="/login/restaurante" class="btn btn-primary text-white btn-fixed-size">Login</a>
        </div>
        <div class="cadastro col-lg-6 col-12 my-3">
          <h4>Cliente <i class="fas fa-user"></i></h4>
          <a href="/cadastro/cliente" class="btn btn-primary text-white btn-fixed-size">Cadastro</a>
          <a href="/login/cliente" class="btn btn-primary text-white btn-fixed-size">Login</a>
        </div>
      </div>

    </main>

    </div>
    <%- include('parts/foot'); %>
  </body>
</html>