<div class="footer-basic">
  <footer>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="/">Home</a></li>
    </ul>
    <p class="copyright">Entrega de Refeições © 2021</p>
    <div class="names">
      <p>Daniel Espindola da Silva<br />RA:11201720556</p>
      <p>
        Lorena Silva Sampaio<br />
        RA:11201812025
      </p>
      <p>Arial Bellio<br />RA:11061215</p>
    </div>
    <p class="copyright">UFABC 2021</p>
  </footer>
</div>
